<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/fav.png"/>
    <link rel="icon" href="/images/fav.png"/>
    <link rel='stylesheet' href='/stylesheets/style2.css'/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand float-left" href="#">
            <img src="/images/logo.png" alt="" onclick="location.href = '\\'">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="request">Request</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div>
    <img class="imagem" width="100%">
    <div class="top-left">
        <div class="rowww">
            <div class="col-44 logod">
                <img class="logo" src="/images/logo2.png" width="100%">
            </div>
            <div class="col-88 ford">
                for
            </div>
        </div>
        <div class="ewd">
            e-waste collection
        </div>
    </div>
</div>


<div class="rowww">
    <div class="col-77" style="background-color: black;padding: 15px">
        <h1>What is electronic waste :</h1>
        <p>Electronic waste is any device that is not being used </p>
        <p>and has a plug or any electronic circuit.</p>
        <h2>Types of electronic waste :</h2>
        <div class="rowww">
            <div class="coll-22">
                <img src="/images/freezer.png" width="100%">
            </div>
            <div class="coll-100 expd">
                <p>Large household appliances </p>
                <p>(refrigerators/freezers, dishwashers) </p>
            </div>
        </div>

        <div class="rowww">
            <div class="coll-22">
                <img src="/images/Toaster.png" width="100%">
            </div>
            <div class="coll-100 expd">
                <p>Small household appliances</p>
                <p> (toasters, coffee makers, irons, hairdryers) </p>
            </div>
        </div>

        <div class="rowww">
            <div class="coll-22">
                <img src="/images/Lap.png" width="100%">
            </div>
            <div class="coll-100 expd">
                <p>Information technology (IT) and telecommunications equipment</p>
                <p>(personal computers, telephones, mobile phones, laptops) </p>
            </div>
        </div>

        <div class="rowww">
            <div class="coll-22">
                <img src="/images/TV.png" width="100%">
            </div>
            <div class="coll-100 expd">
                <p>Consumer equipment (televisions, batteries, wires) </p>
            </div>
        </div>
    </div>

    <div class="col-55">
        <div class="wd">
            <div class="aboutush">About Us</div>
            <div class="aboutusp">We are e-collect
                e-collect is a platform the collects
                and disposes any type of electronic waste
                in an environmentally sound manner
                so that they are less harmful
                to the environment.</div>
            <div class="aboutush">Our vision </div>
            <div class="aboutusp">creating a better world free of e-waste
                 </div>
            <div class="aboutush">Our goal</div>
            <div class="aboutusp">turing Egypt into a zero e-waste country</div>
        </div>
    </div>
</div>

<div style="background-color: black; padding: 15px">
    <h1>Why us:</h1>
    <p>By giving us your e-waste, you help people in need and help in a very important social aspect, As we:</p>
    <ul style="color: white">
        <li>We recycle electronic waste in an environmental sound manner</li>
        <li>We provide job opportunities to people who need jobs to work with us in recycling the e-waste</li>
        <li>We donate the recycled waste to schools that need computers or any type of electronic devices</li>
    </ul>
    <h1>How e-waste affects our environment:</h1>
    <p>
        the risk from e-waste affects the entire ecosystem and it is a major environmental health risk to wildlife and
        humans, it contains toxic materials if released into the environment can cause damage to human blood, kidneys,
        as well as central and peripheral nervous systems
    </p>
    <p>One of the toxic materials is lead, it is known to be extremely hazardous to and animals, and has detrimental effects on reproduction.</p>
    <p>
        it affects animals, causing them to sufferer from injuries, illnesses to death.
    </p>
    <p> there are other types of e-waste like nickel and chromium all known to be deeply dangerous to the health and well-being of animals</p>
</div>
<div>
    <img src="/images/downpc.png" width="100%">
</div>
<!-- /.conta hiner -->
<br><br>
<!-- Footer -->
<div class="row">
    <div class="column">
        <footer class="page-footer font-small blue fixed-bottom">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="#">AK</a>
            </div>
            <!-- Copyright -->

        </footer>
    </div>
    <!-- Footer -->
</div>

</body>
</html>
